SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_JWT_SECRET=
DEBUG=
VERSION=
APP_NAME=
PREDICTION_THRESHOLD=
CRITICAL_THRESHOLD=
HIGH_THRESHOLD=
MEDIUM_THRESHOLD=
HEALTH_CRITICAL_THRESHOLD=
HEALTH_HIGH_THRESHOLD=
HEALTH_MEDIUM_THRESHOLD=
HEALTH_LOW_THRESHOLD=
